@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Truck Buddy</h1>
    <p class="lead">Truck Buddy is a free and fun way to manage your files in a more efficent way for all truck drivers .</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create a login and email and then have access to all that Truck Buddy offers
        </p>

    </div>
    <div class="col-md-4">
        <h2>Managing Files efficiently</h2>
        <p>All data stored is in a secure database ready to use at your discretion</p>
    </div>
    <div class="col-md-4">
        <h2>Questions?</h2>
        <p>For information on how to use this service click the button below.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more</a></p>
    </div>
</div>